[Unit]
Description=f5elastic
After=network.target

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=20480

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/f5elastic

[Install]
WantedBy=multi-user.target